.company-registration-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.company-registration-form {
    margin: auto;
    width: 35%;
    padding: 50px;
    text-align: center;
    border-radius: 20px;

    /*Box Shadow*/
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1); 
      -webkit-box-shadow: 0 6px 22px rgba(0, 0, 0,0.1); 
      -moz-box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.company-register-button {
    width: 100%;
    border-style: none;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 4%;
}

.company-register-button:hover {
    background-color: #649B92;
}

.company-registration-heading {
    text-align: center;
    margin-bottom: 5%;
    color: #1c1c1c;
    font-weight: 600;
    text-transform: uppercase;
}

.goto-link {
    color: black;
}

.goto-link:hover {
    color: grey;
}

.link-wrapper {
    margin-top: 10%;
}

input{
    padding: 15px;
    margin: 10px 0px;
    width: 100%;
}