.company-profilesetup{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgb(39, 39, 39);
    padding-top: 5%;
    padding-bottom: 5%;
}

.company-profile-form {
    margin: auto;
    background-color: orange;
    width: 80%;
    padding: 50px;
    /* text-align: center; */
}

.company-profilesetup-button {
    width: 100%;
    border-style: none;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 4%;
}

.company-profilesetup-heading {
    text-align: center;
    margin-bottom: 5%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}

label {
    text-align: left;
    color: white;
    font-weight: 500;
    font-size: 20px;
}

textarea {
    width: 100%;
}