.hiring-section {
    padding-top: 80px;
    height: 100vh;
}
  
.hiring-heading-area {
    text-align: center;
}

.hiring-heading {
    text-transform: uppercase;
    font-weight: 700;
    color: #1c1c1c;
}

.hiring-subtext {
    margin-top: 1%;
    color: grey;
}

.vc-hiring-cards {
    margin-top: 3%;
    max-width: 100%;
}

.vc-dropdown-filter {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3%;
  }