.registration-page {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.registration-selection {
    padding: 50px;
    text-align: center;
    width: 35%;

    /*Box Shadow*/
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1); 
      -webkit-box-shadow: 0 6px 22px rgba(0, 0, 0,0.1); 
      -moz-box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
}

.registration-slection h1 {
    color: #1c1c1c;
    margin-bottom: 4%;
}

.register-button {
    width: 100%;
    border-style: none;
    background-color: black;
    color: white;
    padding-top: 35px;
    padding-bottom: 35px;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: .1em;
    margin-top: 4%;
}

.register-button:hover {
    background-color: #649B92;
}

.button-link {
    text-decoration: none;
    color: white;
}

.button-link:hover {
    color: white;
}

.goto-link {
    color: black;
}

.goto-link:hover {
    color: grey;
}

.link-wrapper {
    margin-top: 10%;
}