.company-login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(39, 39, 39);
}

.company-login-form {
    margin: auto;
    background-color: orange;
    width: 35%;
    padding: 50px;
}

.company-login-button {
    width: 100%;
    border-style: none;
    background-color: black;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: .1em;
    margin-top: 4%;
}

.company-form-heading {
    text-align: center;
    margin-bottom: 5%;
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}