.vc-profile-card {
    text-align: center;
    padding-top: 2%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
    width: 280px;
    margin-bottom: 2%;
    margin-left: 2%;
}

.card-avatar {
    margin: auto;
}

.profile-button {
    width: 100%;
}

.profile-button:hover {
    color: white;
}

.profile-cards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: baseline;
    align-items: center;
    justify-content: center;
    width: 100%
}


.mail-icon {
    font-size: 28px;
    color: #ffd12e;
}

.mail-icon:hover {
    color: #006b61;
}

.youtube-icon {
    font-size: 28px;
    color: #ffd12e;
}

.youtube-icon:hover {
    color: #006b61;
}

.twitter-icon {
    font-size: 28px;
    margin-left: 6px;
    margin-right: 6px;
    color: #ffd12e;
}

.twitter-icon:hover {
    color: #006b61;
}

.profile-button {
    padding: 10px !important;
    background-color: #006b61 !important;
}
  
.profile-button:hover {
    background-color: #009485 !important;
}
