.vc-profile-card {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 1%;
    padding-left: 1%;
    padding-right: 1%;
}

.card-avatar {
    margin: auto;
}

.profile-button {
    width: 100%;
}